<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scx.floatwindow" >
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application>
        <service android:name=".VideoChatService" />
    </application>
</manifest>
